.image_container{
    gap:15px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.image_container img{
    width: 450px;
    border-radius: 10px;
}
h2{
    background-color: rgb(92, 80, 171);
    color: rgba(233, 233, 233, 0.956);
    padding: 15px;
    text-align: center;
}